<div class="az-sidebar">
    <div class="az-sidebar-header">
      <a href="javascript:void(0)" class="az-logo">
        <!-- <div style="background-color: #000;padding: 10px 48px;
        color: #fff;">P Cube</div> -->
        <img width="150" src="assets/pcube_logo.png" alt="logo">
      </a>
    </div><!-- az-sidebar-header -->
    <div class="az-sidebar-loggedin">
      <div class="az-img-user online"><img src="assets/images/img1.jpg" alt=""></div>
      <div class="media-body">
        <h6>{{ userDetails?.name}}</h6>
        <span>{{ userDetails?.email}}</span>
      </div><!-- media-body -->
    </div><!-- az-sidebar-loggedin -->
    <div class="az-sidebar-body">
      <ul class="nav">
        <li class="nav-label">Main Menu</li>
        <li class="nav-item active show" [ngClass]="{ 'active': dashboard.isActive }" >
          <a routerLink="/dashboard" routerLinkActive="active" #dashboard="routerLinkActive" class="nav-link">
            <i class="typcn typcn-clipboard"></i>Dashboard
          </a>
        </li>
        <li class="nav-item " [ngClass]="{ 'active': roles.isActive }" *appPermissions=[MENU_PERMISSIONS?.ROLE_MENUS]>
          <a routerLink="/roles" routerLinkActive="active" #roles="routerLinkActive" class="nav-link">
            <i class="typcn typcn-group-outline"></i>Roles
          </a>
        </li>
        <li class="nav-item " [ngClass]="{ 'active': users.isActive }" *appPermissions=[MENU_PERMISSIONS?.USER_MENUS]>
            <a routerLink="/users" routerLinkActive="active" #users="routerLinkActive" class="nav-link">
              <i class="icon ion-ios-person"></i>Users
            </a>
        </li>

        <li class="nav-item " [ngClass]="{ 'active': customers.isActive }" *appPermissions=[MENU_PERMISSIONS?.CUSTOMER_MENUS]>
          <a routerLink="/customers" routerLinkActive="active" #customers="routerLinkActive" class="nav-link">
            <i class="icon ion-ios-people"></i>Customer
          </a>
      </li>

        <li class="nav-item " [ngClass]="{ 'active': suppliers.isActive }" *appPermissions=[MENU_PERMISSIONS?.SUPPLIER_MENUS]>
          <a routerLink="/suppliers" routerLinkActive="active" #suppliers="routerLinkActive" class="nav-link">
            <i class="icon ion-ios-person"></i>Suppliers
          </a>
      </li>

      <li class="nav-item " [ngClass]="{ 'active': products.isActive }" *appPermissions=[MENU_PERMISSIONS?.PRODUCT_MENUS]>
          <a routerLink="/products" routerLinkActive="active" #products="routerLinkActive" class="nav-link">
            <i class="far fa-check-circle"></i>Products
          </a>
      </li>

      <li class="nav-item " [ngClass]="{ 'active': products.isActive }" >
          <a routerLink="/orders" routerLinkActive="active" #products="routerLinkActive" class="nav-link">
            <i class="icon ion-ios-settings"></i>Orders
          </a>
      </li>

      <!-- <li class="nav-item " [ngClass]="{ 'active': products.isActive }" *appPermissions=[MENU_PERMISSIONS?.PRODUCT_MENUS]>
        <a routerLink="/items" routerLinkActive="active" #products="routerLinkActive" class="nav-link">
          <i class="icon ion-ios-list"></i>Item List
        </a>
      </li> -->

      <li class="nav-item " [ngClass]="{ 'active': inventorys.isActive }" *appPermissions=[MENU_PERMISSIONS?.PRODUCT_MENUS]>
          <a routerLink="/inventorys" routerLinkActive="active" #inventorys="routerLinkActive" class="nav-link">
            <i class="icon ion-ios-stats"></i>Inventory
          </a>
      </li>

      <li class="nav-item " [ngClass]="{ 'active': storemanagers.isActive }" *appPermissions=[MENU_PERMISSIONS?.PRODUCT_MENUS]>
        <a routerLink="/storemanagers" routerLinkActive="active" #storemanagers="routerLinkActive" class="nav-link">
          <i class="icon ion-ios-people"></i>Store Managers
        </a>
      </li>

     <li class="nav-item " [ngClass]="{ 'active': supervisors.isActive }" *appPermissions=[MENU_PERMISSIONS?.PRODUCT_MENUS]>
      <a routerLink="/supervisors" routerLinkActive="active" #supervisors="routerLinkActive" class="nav-link">
        <i class="fa fa-tasks"></i>Supervisors
      </a>
     </li>

     <li class="nav-item " [ngClass]="{ 'active': tailors.isActive }" *appPermissions=[MENU_PERMISSIONS?.PRODUCT_MENUS]>
      <a routerLink="/tailors" routerLinkActive="active" #tailors="routerLinkActive" class="nav-link">
        <i class="fas fa-cut"></i>Tailors
      </a>
     </li>

     <li class="nav-item " [ngClass]="{ 'active': myproducts.isActive }" *appPermissions=[MENU_PERMISSIONS?.PRODUCT_MENUS]>
      <a routerLink="/myproducts" routerLinkActive="active" #myproducts="routerLinkActive" class="nav-link">
        <i class="fas fa-check-circle"></i>My Products
      </a>
     </li>

      </ul><!-- nav -->
    </div><!-- az-sidebar-body -->
  </div><!-- az-sidebar -->
