<div class="az-content">
    <div class="container">
        <div *ngIf="isOrderShow" class="az-content-body d-flex flex-column order-details">
            <div class="pd-10">
               <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <h3> Total playable: INR {{ balanceAmount }}</h3>
                            </div>
                        </div>
                    </div>
                   <div class="col-lg-6">
                       <form [formGroup]="orderForm" (ngSubmit)="orderFormSubmit()">
                            <div class="row">
                                <div class="col-lg-12 mg-t-10">
                                    <mat-form-field>
                                        <mat-label> Payment Type</mat-label>
                                        <mat-select formControlName="paymentType">
                                            <mat-option *ngFor="let payment of paymentTypeOptions;" [value]="payment">
                                                <span>{{payment?.name}}</span>
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="formValidate?.paymentType?.errors?.required">This field is required.</mat-error>
                                    </mat-form-field>
                                
                                </div>
                                <div class="col-lg-12 mg-t-10">
                                    <mat-form-field>
                                        <mat-label> Payment Settlement </mat-label>
                                        <mat-select formControlName="paymentSettlement">
                                            <mat-option *ngFor="let settlement of paymentSettlementOptions;" [value]="settlement">
                                                <span>{{settlement?.name}}</span>
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="formValidate?.paymentSettlement?.errors?.required">This field is required.</mat-error>
                                    </mat-form-field>
                                
                                </div>
                                <div class="col-lg-12 mg-t-10">
                                    <mat-form-field>
                                        <mat-label>Amount</mat-label>
                                        <input type="text" formControlName="amount" matInput>
                                      <mat-error *ngIf="formValidate?.amount?.errors?.required">This field is required.</mat-error>
                                    </mat-form-field>
                                    <mat-error *ngIf="isError">Please enter valid amount.</mat-error>
                                </div>
                                <!-- <div class="col-lg-12 mg-t-10">
                                    <mat-form-field>
                                        <mat-label> Order Status </mat-label>
                                        <mat-select formControlName="orderStatus">
                                            <mat-option *ngFor="let orderStatus of orderStatusOptions;" [value]="orderStatus">
                                                <span>{{orderStatus?.name}}</span>
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="formValidate?.orderStatus?.errors?.required">This field is required.</mat-error>
                                    </mat-form-field>
                                </div> -->
                                <div class="col-lg-12 text-center">
                                    <div class="button-group">
                                        <button type="submit" mat-raised-button="" class="mat-focus-indicator btn-int-blue mat-raised-button mat-button-base">
                                             Submit 
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                   </div>
               </div>
            </div>
        </div>
        <div *ngIf="!isOrderShow"  class="az-content-body d-flex flex-column order-details">
            <div class="row">
               <div class="col-lg-12 text-center">
                   <h3>Your order is completed</h3>
               </div>
            </div>
        </div>
    </div>
</div>

