<form>
<h2>SUIT/SHERWANI/JODHPURI/BLAZER/BANDI :</h2>
<div class="row">
    <div class="col-md-2">
        <mat-form-field class="example-form-field">
            <mat-label>FL</mat-label>
            <input matInput type="text" >           
        </mat-form-field>
    </div>
    <div class="col-md-2"> 
        <mat-form-field class="example-form-field">
            <mat-label>BL</mat-label>
            <input matInput type="text" >           
        </mat-form-field>
    </div>
    <div class="col-md-2"> 
        <mat-form-field class="example-form-field">
            <mat-label>SUIT.L</mat-label>
            <input matInput type="text">           
        </mat-form-field>
    </div>
    <div class="col-md-2"> 
        <mat-form-field class="example-form-field">
            <mat-label>KN.L</mat-label>
            <input matInput type="text">           
        </mat-form-field>
    </div>
    <div class="col-md-2"> 
        <mat-form-field class="example-form-field">
            <mat-label>W.L</mat-label>
            <input matInput type="text">           
        </mat-form-field>
    </div>
    <div class="col-md-2"> 
        <mat-form-field class="example-form-field">
            <mat-label>SH</mat-label>
            <input matInput type="text">           
        </mat-form-field>
    </div>
    <div class="col-md-2"> 
        <mat-form-field class="example-form-field">
            <mat-label>N-SH</mat-label>
            <input matInput type="text">           
        </mat-form-field>
    </div>
    <div class="col-md-2"> 
        <mat-form-field class="example-form-field">
            <mat-label>SL</mat-label>
            <input matInput type="text">           
        </mat-form-field>
    </div>
    <div class="col-md-2"> 
        <mat-form-field class="example-form-field">
            <mat-label>CH</mat-label>
            <input matInput type="text">           
        </mat-form-field>
    </div>
    <div class="col-md-2"> 
        <mat-form-field class="example-form-field">
            <mat-label>ST</mat-label>
            <input matInput type="text">           
        </mat-form-field>
    </div>
    <div class="col-md-2"> 
        <mat-form-field class="example-form-field">
            <mat-label>H</mat-label>
            <input matInput type="text">           
        </mat-form-field>
    </div>
    <div class="col-md-2"> 
        <mat-form-field class="example-form-field">
            <mat-label>CF</mat-label>
            <input matInput type="text">           
        </mat-form-field>
    </div>
    <div class="col-md-2"> 
        <mat-form-field class="example-form-field">
            <mat-label>CB</mat-label>
            <input matInput type="text">           
        </mat-form-field>
    </div>
    <div class="col-md-2"> 
        <mat-form-field class="example-form-field">
            <mat-label>BICEP</mat-label>
            <input matInput type="text">           
        </mat-form-field>
    </div>
    <div class="col-md-2"> 
        <mat-form-field class="example-form-field">
            <mat-label>H.B</mat-label>
            <input matInput type="text">           
        </mat-form-field>
    </div>
    <div class="col-md-2"> 
        <mat-form-field class="example-form-field">
            <mat-label>H.F</mat-label>
            <input matInput type="text">           
        </mat-form-field>
    </div>
    <div class="col-md-2"> 
        <mat-form-field class="example-form-field">
            <mat-label>N</mat-label>
            <input matInput type="text">           
        </mat-form-field>
    </div>
      
</div>

<!-- shirts srart -->
<h2 class="mt-3">SHIRT/KURTA :</h2>
<div class="row">
    <div class="col-md-2">
        <mat-form-field class="example-form-field">
            <mat-label>L</mat-label>
            <input matInput type="text">           
        </mat-form-field>
    </div>
    <div class="col-md-2"> 
        <mat-form-field class="example-form-field">
            <mat-label>K.L</mat-label>
            <input matInput type="text">           
        </mat-form-field>
    </div>
    <div class="col-md-2"> 
        <mat-form-field class="example-form-field">
            <mat-label>S.L</mat-label>
            <input matInput type="text">           
        </mat-form-field>
    </div>
    <div class="col-md-2"> 
        <mat-form-field class="example-form-field">
            <mat-label>ARM</mat-label>
            <input matInput type="text">           
        </mat-form-field>
    </div>
    <div class="col-md-2"> 
        <mat-form-field class="example-form-field">
            <mat-label>F.ARM</mat-label>
            <input matInput type="text">           
        </mat-form-field>
    </div>
    <div class="col-md-2"> 
        <mat-form-field class="example-form-field">
            <mat-label>CUFF</mat-label>
            <input matInput type="text">           
        </mat-form-field>
    </div>
</div>

<!-- TROUSER start -->
<h2 class="mt-3">TROUSER :</h2>
<div class="row">
    <div class="col-md-2"> 
        <mat-form-field class="example-form-field">
            <mat-label>L</mat-label>
            <input matInput type="text">           
        </mat-form-field>
    </div>
    <div class="col-md-2"> 
        <mat-form-field class="example-form-field">
            <mat-label>W</mat-label>
            <input matInput type="text">           
        </mat-form-field>
    </div>
    <div class="col-md-2"> 
        <mat-form-field class="example-form-field">
            <mat-label>H</mat-label>
            <input matInput type="text">           
        </mat-form-field>
    </div>
    <div class="col-md-2"> 
        <mat-form-field class="example-form-field">
            <mat-label>F.TH</mat-label>
            <input matInput type="text">           
        </mat-form-field>
    </div>
    <div class="col-md-2"> 
        <mat-form-field class="example-form-field">
            <mat-label>KN</mat-label>
            <input matInput type="text">           
        </mat-form-field>
    </div>
    <div class="col-md-2"> 
        <mat-form-field class="example-form-field">
            <mat-label>B</mat-label>
            <input matInput type="text">           
        </mat-form-field>
    </div>
    <div class="col-md-2"> 
        <mat-form-field class="example-form-field">
            <mat-label>H.L</mat-label>
            <input matInput type="text">           
        </mat-form-field>
    </div>
    <div class="col-md-2"> 
        <mat-form-field class="example-form-field">
            <mat-label>BAL</mat-label>
            <input matInput type="text">           
        </mat-form-field>
    </div>
</div>

<!--Remarks start -->
<!-- <h2 class="mt-3">Remarks :</h2> -->
<div class="row">
    <div class="col-md-12">
        <mat-form-field class="example-form-field">
            <mat-label>Remarks</mat-label>
            <textarea matInput type="text"></textarea>           
        </mat-form-field>
    </div>
</div>

<!-- Radio buttons start -->

<div class="row" >
    <div class="col-md-6 text-center"><b>BACK SHAPE</b></div>
    <div class="col-md-6 text-center"><b>STOMACH</b></div>
</div>
<div class="row" >
    <div class="col-md-6 shape">
        <div class="col-md-4 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="backshape" id="backshape"
                  value="normal"
                />
                <label class="form-check-label" for="backshape">                
                    <img src="assets/01.png">
                    <p><b>NORMAL</b></p>
                </label>
            </div>               
        </div>
        <div class="col-md-4 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="backshape" id="backshape"
                  value="hunched"
                />
                <label class="form-check-label" for="backshape">
                    <img src="assets/02.png">
                    <p><b>HUNCHED</b></p>
                </label>            
            </div>          
        </div>
        <div class="col-md-4 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="backshape" id="backshape"
                  value="erect"
                />
                <label class="form-check-label" for="backshape">
                    <img src="assets/03.png">
                    <p><b>ERECT</b></p>
                </label>
            </div>         
        </div>
    </div>
    <div class="col-md-6 shape">
        <div class="col-md-4 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="stomach" id="stomach"
                  value="flat"
                />
                <label class="form-check-label" for="stomach">
                    <img src="assets/04.png">
                    <p><b>FLAT</b></p>
                </label>
            </div>         
        </div>
        <div class="col-md-4 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="stomach" id="stomach"
                  value="slight"
                />
                <label class="form-check-label" for="stomach">
                    <img src="assets/05.png">
                    <p><b>SLIGHT</b></p>
                </label>
            </div>         
        </div>
        <div class="col-md-4 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="stomach" id="stomach"
                  value="large"
                />
                <label class="form-check-label" for="stomach">
                    <img src="assets/06.png">
                    <p><b>LARGE</b></p>
                </label>
            </div>         
        </div>
    </div>   
</div>

<div class="row mt-3">
    <div class="col-md-6 text-center"><b>SHOULDER TYPE</b></div>
    <div class="col-md-6 text-center"><b>BUTTON TYPE</b></div>
</div>
<div class="row" >
    <div class="col-md-6 shape">
        <div class="col-md-4 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="shoulder" id="shoulder"
                  value="square"
                />
                <label class="form-check-label" for="shoulder">
                    <img src="assets/07.png">
                    <p><b>SQUARE</b></p>
                </label>
            </div>         
        </div>
        <div class="col-md-4 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="shoulder" id="shoulder"
                  value="regular"
                />
                <label class="form-check-label" for="shoulder">
                    <img src="assets/08.png">
                    <p><b>REGULAR</b></p>
                </label>
            </div>         
        </div>
        <div class="col-md-4 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="shoulder" id="shoulder"
                  value="sloping"
                />
                <label class="form-check-label" for="shoulder">
                    <img src="assets/09.png">
                    <p><b>SLOPING</b></p>
                </label>
            </div>         
        </div>
    </div>
    <div class="col-md-6 shape">
        <div class="col-md-4 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="button" id="button"
                  value="1 button"
                />
                <label class="form-check-label" for="button">
                    <img src="assets/10.png">
                    <p><b>1 BUTTON</b></p>
                </label>
            </div>         
        </div>
        <div class="col-md-4 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="button" id="button"
                  value="2 button"
                />
                <label class="form-check-label" for="button">
                    <img src="assets/11.png">
                    <p><b>2 BUTTON</b></p>
                </label>
            </div>         
        </div>
        <div class="col-md-4 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="button" id="button"
                  value="double brusted"
                />
                <label class="form-check-label" for="button">
                    <img src="assets/12.png">
                    <p><b>DOUBLE BRUSTED</b></p>
                </label>
            </div>         
        </div>
    </div>   
</div>

<div class="row mt-3">
    <div class="col-md-6 text-center"><b>LAPEL TYPE</b></div>
    <div class="col-md-6 text-center"><b>VENT TYPE</b></div>
</div>
<div class="row" >
    <div class="col-md-6 shape">
        <div class="col-md-4 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="lapel" id="lapel"
                  value="peak lapel"
                />
                <label class="form-check-label" for="lapel">
                    <img src="assets/13.png">
                    <p><b>PEAK LAPEL</b></p>
                </label>
            </div>         
        </div>
        <div class="col-md-4 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="lapel" id="lapel"
                  value="notch lapel"
                />
                <label class="form-check-label" for="lapel">
                    <img src="assets/14.png">
                    <p><b>NOTCH LAPEL</b></p>
                </label>
            </div>         
        </div>
        <div class="col-md-4 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="lapel" id="lapel"
                  value="shawl lapel"
                />
                <label class="form-check-label" for="lapel">
                    <img src="assets/15.png">
                    <p><b>SHAWL LAPEL</b></p>
                </label>
            </div>         
        </div>
    </div>
    <div class="col-md-6 shape">
        <div class="col-md-4 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="vent" id="vent"
                  value="no vent"
                />
                <label class="form-check-label" for="vent">
                    <img src="assets/17.png">
                    <p><b>NO VENT</b></p>
                </label>
            </div>         
        </div>
        <div class="col-md-4 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="vent" id="vent"
                  value="center vent"
                />
                <label class="form-check-label" for="vent">
                    <img src="assets/18.png">
                    <p><b>CENTER VENT</b></p>
                </label>
            </div>         
        </div>
        <div class="col-md-4 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="vent" id="vent"
                  value="side vent"
                />
                <label class="form-check-label" for="vent">
                    <img src="assets/19.png">
                    <p><b>SIDE VENT</b></p>
                </label>
            </div>         
        </div> 
    </div>   
</div>

<div class="row mt-3">
    <div class="col-md-6 text-center"><b>POCKET</b></div>
    <div class="col-md-2 text-center"><b>JODHPURI</b></div>
    <div class="col-md-4 text-center"><b>TYPE</b></div>
</div>
<div class="row" >
    <div class="col-md-6 shape">        
        <div class="col-md-4 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="pocket" id="pocket"
                value="slant pocket"
                />
                <label class="form-check-label" for="pocket">
                    <img src="assets/20.png">
                    <p><b>SLANT POCKET</b></p>
                </label>
            </div>         
        </div>
        <div class="col-md-4 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="pocket" id="pocket"
                value="straight pocket"
                />
                <label class="form-check-label" for="pocket">
                    <img src="assets/21.png">
                    <p><b>STRAIGHT POCKET</b></p>
                </label>
            </div>         
        </div>
        <div class="col-md-4 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="pocket" id="pocket"
                value="patch pocket"
                />
                <label class="form-check-label" for="pocket">
                    <img src="assets/22.png">
                    <p><b>PATCH POCKET</b></p>
                </label>
            </div>         
        </div>
    </div>
    <div class="col-md-2 shape">
        <div class="col-md-12">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="jodhpuri" id="jodhpuri"
                  value="jodhpuri"
                />
                <label class="form-check-label" for="jodhpuri">
                    <img src="assets/16.png">
                    <p><b>JODHPURI</b></p>
                </label>
            </div>         
        </div>
    </div> 
    <div class="col-md-4 shape">        
        <div class="col-md-6 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="type" id="type"
                value="regular"
                />
                <label class="form-check-label" for="type">
                    <img src="assets/23.png">
                    <p><b>REGULAR</b></p>
                </label>
            </div>         
        </div>
        <div class="col-md-6 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="type" id="type"
                value="functional"
                />
                <label class="form-check-label" for="type">
                    <img src="assets/24.png">
                    <p><b>FUNCTIONAL</b></p>
                </label>
            </div>         
        </div>
    </div>  
</div>

<div class="row mt-3">
    <div class="col-md-3 text-center"><b>PLEAT</b></div>
    <div class="col-md-3 text-center"><b>POCKET TYPE</b></div>
    <div class="col-md-3 text-center"><b>BACK POCKET</b></div>
    <div class="col-md-3 text-center"><b>SHAPE</b></div>
</div>
<div class="row" >
    <div class="col-md-3 shape">        
        <div class="col-md-6 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="pleat" id="pleat"
                  value="no pleat"
                />
                <label class="form-check-label" for="pleat">
                    <img src="assets/25.png">
                    <p><b>NO PLEAT</b></p>
                </label>
            </div>         
        </div>
        <div class="col-md-6 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="pleat" id="pleat"
                  value="2 pleat"
                />
                <label class="form-check-label" for="pleat">
                    <img src="assets/26.png">
                    <p><b>2 PLEAT</b></p>
                </label>
            </div>         
        </div>
    </div>
    <div class="col-md-3 shape">
        <div class="col-md-6 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="pocket_type" id="pocket_type"
                  value="cross pocket"
                />
                <label class="form-check-label" for="pocket_type">
                    <img src="assets/27.png">
                    <p><b>CROSS POCKET</b></p>
                </label>
            </div>         
        </div>
        <div class="col-md-6 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="pocket_type" id="pocket_type"
                  value="side pocket"
                />
                <label class="form-check-label" for="pocket_type">
                    <img src="assets/28.png">
                    <p><b>SIDE POCKET</b></p>
                </label>
            </div>         
        </div>
    </div> 
    <div class="col-md-3 shape">        
        <div class="col-md-6 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="back_pocket" id="back_pocket"
                  value="1 back pocket"
                />
                <label class="form-check-label" for="back_pocket">
                    <img src="assets/29.png">
                    <p><b>1 BACK POCKET</b></p>
                </label>
            </div>         
        </div>
        <div class="col-md-6 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="back_pocket" id="back_pocket"
                  value="2 back pocket"
                />
                <label class="form-check-label" for="back_pocket">
                    <img src="assets/30.png">
                    <p><b>2 BACK POCKET</b></p>
                </label>
            </div>         
        </div>
    </div>
    <div class="col-md-3 shape">        
        <div class="col-md-6 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="shape" id="shape"
                  value="shoe shape"
                />
                <label class="form-check-label" for="shape">
                    <img src="assets/31.png">
                    <p><b>SHOE SHAPE</b></p>
                </label>
            </div>         
        </div>
        <div class="col-md-6 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="shape" id="shape"
                  value="turn up"
                />
                <label class="form-check-label" for="shape">
                    <img src="assets/32.png">
                    <p><b>TURN UP</b></p>
                </label>
            </div>         
        </div> 
    </div>  
</div>

<div class="row mt-3">
    <div class="col-md-3 text-center"><b>CUT WAY</b></div>
    <div class="col-md-3 text-center"><b>COLLAR TYPE</b></div>
    <div class="col-md-6 text-center"><b>PLACKET</b></div>
</div>
<div class="row" >
    <div class="col-md-3 shape">        
        <div class="col-md-6 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="cut_way" id="cut_way"
                  value="full cut way"
                />
                <label class="form-check-label" for="cut_way">
                    <img src="assets/33.png">
                    <p><b>FULL CUT WAY</b></p>
                </label>
            </div>         
        </div>
        <div class="col-md-6 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="cut_way" id="cut_way"
                  value="semi cut way"
                />
                <label class="form-check-label" for="cut_way">
                    <img src="assets/34.png">
                    <p><b>SEMI CUT WAY</b></p>
                </label>
            </div>         
        </div>
    </div>
    <div class="col-md-3 shape">
        <div class="col-md-6 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="collar_type" id="collar_type"
                  value="wing collar"
                />
                <label class="form-check-label" for="collar_type">
                    <img src="assets/35.png">
                    <p><b>WING COLLAR</b></p>
                </label>
            </div>         
        </div>
        <div class="col-md-6 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="collar_type" id="inlincollar_typeeRadio3"
                  value="mandarin collar"
                />
                <label class="form-check-label" for="collar_type">
                    <img src="assets/36.png">
                    <p><b>MANDARIN COLLAR</b></p>
                </label>
            </div>         
        </div>
    </div> 
    <div class="col-md-6 shape">        
        <div class="col-md-3 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="placket" id="placket"
                  value="forward point"
                />
                <label class="form-check-label" for="placket">
                    <img src="assets/37.png">
                    <p><b>FORWARD POINT</b></p>
                </label>
            </div>         
        </div>
        <div class="col-md-3 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="placket" id="placket"
                  value="plain placket"
                />
                <label class="form-check-label" for="placket">
                    <img src="assets/38.png">
                    <p><b>PLAIN PLACKET</b></p>
                </label>
            </div>         
        </div>
        <div class="col-md-3 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="placket" id="placket"
                  value="box placket"
                />
                <label class="form-check-label" for="placket">
                    <img src="assets/39.png">
                    <p><b>BOX PLACKET</b></p>
                </label>
            </div>         
        </div>
        <div class="col-md-3 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="placket" id="placket"
                  value="concealed"
                />
                <label class="form-check-label" for="placket">
                    <img src="assets/40.png">
                    <p><b>CONCEALED</b></p>
                </label>
            </div>         
        </div>
    </div>
      
</div>

<div class="row mt-3">
    <div class="col-md-5 text-center"><b>CUFF TYPE</b></div>
    <div class="col-md-7 text-center"><b>OTHER</b></div>
</div>
<div class="row" >
    <div class="col-md-5 shape">        
        <div class="col-md-4 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="cuff_type" id="cuff_type"
                  value="square cuff 2buttons"
                />
                <label class="form-check-label" for="cuff_type">
                    <img src="assets/41.png">
                    <p><b>SQUARE CUFF</b></p>
                    <p><b>2 BUTTONS</b></p>
                </label>
            </div>         
        </div>
        <div class="col-md-4 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="cuff_type" id="cuff_type"
                  value="round cuff 2buttons"
                />
                <label class="form-check-label" for="cuff_type">
                    <img src="assets/41.png">
                    <p><b>ROUND CUFF </b></p>
                    <p><b>2 BUTTONS</b></p>
                </label>
            </div>         
        </div>
        <div class="col-md-4 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="cuff_type" id="cuff_type"
                  value="french cuff"
                />
                <label class="form-check-label" for="cuff_type">
                    <img src="assets/42.png">
                    <p><b>FRENCH CUFF</b></p>
                </label>
            </div>         
        </div>
    </div>
    
    <div class="col-md-7 shape">        
        <div class="col-md-3 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="other" id="other"
                  value="np pocket"
                />
                <label class="form-check-label" for="other">
                    <p class="noimage"></p>
                    <p style="margin-top: -68px;"><b>NO POCKET</b></p>
                </label>
            </div>         
        </div>
        <div class="col-md-3 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="other" id="other"
                  value="apple cut"
                />
                <label class="form-check-label" for="other">
                    <p class="noimage"></p>
                    <p style="margin-top: -68px;"><b>APPLE CUT</b></p>
                </label>
            </div>         
        </div>
        <div class="col-md-3 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="other" id="other"
                  value="round"
                />
                <label class="form-check-label" for="other">
                    <p class="noimage"></p>
                    <p style="margin-top: -68px;"><b>ROUND</b></p>
                </label>
            </div>         
        </div>
        <div class="col-md-3 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="other" id="other"
                  value="side slip"
                />
                <label class="form-check-label" for="other">
                    <p class="noimage"></p>
                    <p style="margin-top: -68px;"><b>SIDE SLIP</b></p>
                </label>
            </div>         
        </div> 
    </div>
      
</div>


<div class="row mt-3">
    <div class="col-md-5 text-center"><b>SHAPE</b></div>
    <div class="col-md-7 text-center"><b>FIT TYPE </b></div>
</div>
<div class="row" >
    <div class="col-md-5 shape">        
        <div class="col-md-6 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="shape_type" id="shape_type"
                value="v-shape"
                />
                <label class="form-check-label" for="shape_type">
                    <img src="assets/43.png">
                    <p><b>V-SHAPE</b></p>
                </label>
            </div>         
        </div>
        <div class="col-md-6 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="shape_type" id="shape_type"
                value="round shape"
                />
                <label class="form-check-label" for="shape_type">
                    <img src="assets/44.png">
                    <p><b>ROUND SHAPE</b></p>
                </label>
            </div>         
        </div>
    </div>
    
    <div class="col-md-7 shape">        
        <div class="col-md-4 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="fit_type" id="fit_type"
                  value="slim fit"
                />
                <label class="form-check-label" for="fit_type">
                    <p class="noimage"></p>
                    <p style="margin-top: -68px;"><b>SLIM FIT</b></p>
                </label>
            </div>         
        </div>
        <div class="col-md-4 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="fit_type" id="fit_type"
                  value="medium fit"
                />
                <label class="form-check-label" for="fit_type">
                    <p class="noimage"></p>
                    <p style="margin-top: -68px;"><b>MEDIUM FIT</b></p>
                </label>
            </div>         
        </div>
        <div class="col-md-4 shapes">
            <div class="form-check form-check-inline">
                <input mdbRadio class="form-check-input" type="radio" name="fit_type" id="fit_type"
                  value="regular fit"
                />
                <label class="form-check-label" for="fit_type">
                    <p class="noimage"></p>
                    <p style="margin-top: -68px;"><b>REGULAR FIT</b></p>
                </label>
            </div>         
        </div>
    </div>
      
</div>



    <div class=" text-center mt-5">
        <div class="button-group">
            <button type="submit" mat-raised-button class="btn-int-success">Submit </button>
        </div>
    </div>

</form>