<div class="az-header">
    <div class="container-fluid">
      <div class="az-header-left">
        <a href="" id="azSidebarToggle" class="az-header-menu-icon" (click)="toggleSidebar($event)"><span></span></a>
      </div><!-- az-header-left -->
      <div class="az-header-center">
        <!-- <input type="search" class="form-control" placeholder="Search for anything...">
        <button class="btn"><i class="fas fa-search"></i></button> -->
      </div><!-- az-header-center -->
      <div class="az-header-right">
        <div class="az-header-message">
          <a routerLink="/cart"><i class="typcn typcn-shopping-cart"></i></a>
        </div>
        <div class="az-header-message">
          <a routerLink="/chat"><i class="typcn typcn-messages"></i></a>
        </div>
       
        <div class="dropdown az-header-notification" ngbDropdown>
          <a class="new" id="notificationsDropdown" ngbDropdownToggle><i class="typcn typcn-bell"></i></a>
          <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="notificationsDropdown">
            <div class="az-dropdown-header mg-b-20 d-sm-none">
              <a class="az-header-arrow" (click)="closeMenu($event)"><i class="icon ion-md-arrow-back"></i></a>
            </div>
            <h6 class="az-notification-title">Notifications</h6>
            <p class="az-notification-text">You have 2 unread notification</p>
            <div class="az-notification-list">
              <div class="media new">
                <div class="az-img-user"><img src="assets/images/img2.jpg" alt=""></div>
                <div class="media-body">
                  <p>Congratulate <strong>Socrates Itumay</strong> for work anniversaries</p>
                  <span>Mar 15 12:32pm</span>
                </div><!-- media-body -->
              </div><!-- media -->
              <div class="media new">
                <div class="az-img-user online"><img src="assets/images/img3.jpg" alt=""></div>
                <div class="media-body">
                  <p><strong>Joyce Chua</strong> just created a new blog post</p>
                  <span>Mar 13 04:16am</span>
                </div><!-- media-body -->
              </div><!-- media -->
              <div class="media">
                <div class="az-img-user"><img src="assets/images/img4.jpg" alt=""></div>
                <div class="media-body">
                  <p><strong>Althea Cabardo</strong> just created a new blog post</p>
                  <span>Mar 13 02:56am</span>
                </div><!-- media-body -->
              </div><!-- media -->
              <div class="media">
                <div class="az-img-user"><img src="assets/images/img5.jpg" alt=""></div>
                <div class="media-body">
                  <p><strong>Adrian Monino</strong> added new comment on your photo</p>
                  <span>Mar 12 10:40pm</span>
                </div><!-- media-body -->
              </div><!-- media -->
            </div><!-- az-notification-list -->
            <div class="dropdown-footer"><a href="">View All Notifications</a></div>
          </div><!-- dropdown-menu -->
        </div><!-- az-header-notification -->
        <div class="dropdown az-profile-menu" ngbDropdown>
          <a class="az-img-user" id="profileDropdown" ngbDropdownToggle><img src="assets/images/img1.jpg" alt="user"></a>
          <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="profileDropdown">
            <div class="az-dropdown-header d-sm-none">
              <a class="az-header-arrow" (click)="closeMenu($event)"><i class="icon ion-md-arrow-back"></i></a>
            </div>
            <div class="az-header-profile">
              <div class="az-img-user">
                <img src="assets/images/img1.jpg" alt="">
              </div><!-- az-img-user -->
              <h6>{{ userDetails?.name}}</h6>
              <span>{{ userDetails?.email}}</span>
            </div><!-- az-header-profile -->
  
            <a routerLink="/general-pages/profile" class="dropdown-item"><i class="typcn typcn-user-outline"></i> My Profile</a>
            <a routerLink="/general-pages/profile" class="dropdown-item"><i class="typcn typcn-edit"></i> Edit Profile</a>
            <a routerLink="/general-pages/profile" class="dropdown-item"><i class="typcn typcn-time"></i> Activity Logs</a>
            <a routerLink="/general-pages/profile" class="dropdown-item"><i class="typcn typcn-cog-outline"></i> Account Settings</a>
            <a href="javascript:void(0);" (click)="logout()"class="dropdown-item"><i class="typcn typcn-power-outline"></i> Sign Out</a>
          </div><!-- dropdown-menu -->
        </div>
      </div><!-- az-header-right -->
    </div><!-- container -->
  </div><!-- az-header -->