<div class="product">
  <div class="row">
    <div class="col-lg-12">
        <div class="product-items">
            <div class="product-list">
              <img src="{{SERVER_PATH}}/storage/{{product?.images}}" alt="" width="80" height="50">
            </div>
            <div class="product-list">{{product?.name}}</div>
            <div class="product-list">{{product?.item_type}}</div>
            <div class="product-list">{{product?.item_description}}</div>
            <div class="product-list">{{product?.item_code}}</div>
            <div class="product-list">INR {{product?.price}}</div>
            <div class="product-list">  
                <button class="btn btn-success btn-with-icon btn-block" (click)="addProductToCart(product?.id)">
                  <i class="typcn typcn-shopping-cart"></i> add </button>
            </div>
        </div>
    </div>
  </div>
</div>