.form-check-label img{
    width:100px;
    height:100px;
}
.form-check-label p {
    /* margin: 0px 0 0px; */
    text-align: center;
    margin-top: -10px;
}
.form-check-label .noimage{
    width:100px;
    height:90px;
    border: 1px solid black; 
    margin-top: revert;
}
.shape {
    border:1px dotted #2980B9;
}
.shapes {
 float: left;
}